<div class="header">
  <div class="header-inner">
    <p>Découvrez <strong style="color:#fdb12a">...</strong> Co-créez <strong style="color:#24B787">...</strong> Voyagez <strong style="color:#E37663">...</strong></p>
    <h1>Trouvez des activités sur mesure <br> près de chez vous</h1>
  </div>
</div>

<div style="background-color:#1B716A">
  <div class="form-container">
    <%= image_tag "compass.png" %>
    <form class="item">
     <div class="form-group">
      <input type="" id="inputPassword6" class="form-control" placeholder="Ville">
      <button type="submit" class="btn btn-green search-button">Rechercher une activité</button>
    </div>
  </form>
  <%= link_to "Voir les activités" ,experiences_path, class:"btn btn-white search-button-white" %>
  </div>
</div>


<div class="utilities">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 utilitie-container">
        <%= image_tag "activitie1.png" %>
        <div class="utilitie-praragraph">
          <h6>Découvrez</h6>
          <p>1 300 agences locales
          sélectionnées par Evaneos</p>
        </div>
      </div>
      <div class="col-sm-4 utilitie-container">
        <%= image_tag "activitie2.png" %>
        <div class="utilitie-praragraph">
          <h6>Découvrez</h6>
          <p>1 300 agences locales
          sélectionnées par Evaneos</p>
        </div>
      </div>
      <div class="col-sm-4 utilitie-container">
        <%= image_tag "activitie3.png" %>
        <div class="utilitie-praragraph">
          <h6>Découvrez</h6>
          <p>1 300 agences locales
          sélectionnées par Evaneos</p>
        </div>
      </div>
    </div>
  </div>
</div>
