<h1>My list of experiences</h1>
<% @experiences.each do |experience| %>
  <h2><%= experience.name %></h2>
  <p><%= experience.price %></p>
  <p><%= experience.description %></p>
<% end %>

<%= link_to 'Create a experience', new_my_experience_path %>

<ul>
  <% @reservations.each do |reservation| %>
  <li><%= reservation.participants_number %></li>
  <li><%= reservation.total_price %></li>
  <li><%= reservation.pending ? "Pending" : "Accepted" %></li>
  <li><%= link_to "Approve", approve_reservation_path(reservation), :method => :put, remote: true %></li>
  <% end %>
</ul>


